@import "normalize.scss";

/*! Compra Mauá e Região styles | 2013 | compramaua.com.br */

$fonte:'Lato',Tahoma,sans-serif;
@mixin WidthHeight($width,$height) {
  width:$width;
  height:$height;
}

*::selection{ background:rgb(252,252,15); }

html{ background:rgb(0,0,0); }

#pagina{
  -webkit-box-shadow:inset 0 0 200px rgb(8,23,77);
  -moz-box-shadow:inset 0 0 200px rgb(8,23,77);
  -o-box-shadow:inset 0 0 200px rgb(8,23,77);
  box-shadow:inset 0 0 200px rgb(8,23,77);
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  position:relative;
  top:0;
  overflow:hidden;
  background:rgb(28,83,137) url('../imagens/background-body.jpg') repeat-x fixed;
  background-size:cover;
  @include WidthHeight(100%,100%);

  .marca-pagina{
    -webkit-text-shadow:1px 1px 0 rgba(0,0,0,0.3);
    -moz-text-shadow:1px 1px 0 rgba(0,0,0,0.3);
    -o-text-shadow:1px 1px 0 rgba(0,0,0,0.3);
    text-shadow:1px 1px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow:-1px 2px 0 rgba(0,0,0,0.2);
    -moz-box-shadow:-1px 2px 0 rgba(0,0,0,0.2);
    -o-box-shadow:-1px 2px 0 rgba(0,0,0,0.2);
    box-shadow:-1px 2px 0 rgba(0,0,0,0.2);
    font:bold 14px 'Lato',Tahoma,sans-serif;
    text-align:center;
    position:fixed;
    background:rgb(99,129,176);
    -webkit-border-radius:100px 100px 0;
    -moz-border-radius:100px 100px 0;
    -o-border-radius:100px 100px 0;
    border-radius:100px 100px 0;
    width:18px;
    height:18px;
    color:rgb(255,255,255);
    top:5px;
    left:5px;
  }

  .slide{
    @include WidthHeight(50%,auto);
    font-family:$fonte;
    color:rgb(255,255,255);
    margin:0 auto;
    padding:11%;
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;

    .header{
      margin:0 0 5% 0;

      h1{
        font-weight:300;
        margin:0;
        padding:0;
      }
    }

    .imagem{
      width:0;
    }

    .header-maior{ h1{ font-weight:300; }}

    .smartphone{
      .texto{
        float:left;
        color:rgb(252,252,15);
      }
    }

    .texto{
      -webkit-transition:0.3s;
      -moz-transition:0.3s;
      -o-transition:0.3s;
      transition:0.3s;
      width:100%;
      
      p{
        margin:0;
        padding:0;
      }
    }

    .logotipo{
      text-align:center;

      img{
        -webkit-transition:all 0.2s linear;
        -moz-transition:all 0.2s linear;
        -o-transition:all 0.2s linear;
        transition:all 0.2s linear;
      }
    }

    .logotipo-portal{ text-align:right; }
  }

  .formulario{
    form{
      span{ text-transform:capitalize; }

      input{
        -webkit-transition:all 0.2s linear;
        -moz-transition:all 0.2s linear;
        -o-transition:all 0.2s linear;
        transition:all 0.2s linear;
      }

      input[type="text"],
      input[type="email"]{
        padding:5px;
        text-transform:uppercase;
        border:0;
        outline:0;
      }

      input[type="text"]::-webkit-input-placeholder,
      input[type="email"]::-webkit-input-placeholder{
        color:rgb(230,230,230);
        text-transform:uppercase;
      }

      input[type="text"]::-moz-input-placeholder,
      input[type="email"]::-moz-input-placeholder{
        color:rgb(230,230,230);
        text-transform:uppercase;
      }

      input[type="text"]::-o-input-placeholder,
      input[type="email"]::-o-input-placeholder{
        color:rgb(230,230,230);
        text-transform:uppercase;
      }

      input[type="text"]::input-placeholder,
      input[type="email"]::input-placeholder{
        color:rgb(230,230,230);
        text-transform:uppercase;
      }

      input:focus{
        color:rgb(0,0,0);
        -webkit-box-shadow:inset -2px 2px 12px rgb(100,100,100);
        -moz-box-shadow:inset -2px 2px 12px rgb(100,100,100);
        -o-box-shadow:inset -2px 2px 12px rgb(100,100,100);
        box-shadow:inset -2px 2px 12px rgb(100,100,100);
      }

      input[type="submit"]{
        border:0;
        font-weight:900;
        vertical-align:top;
        color:rgb(255,255,255);
        background:rgb(99,129,176);
      }

      input[type="submit"]:hover{
        color:rgb(255,255,255);
        background:rgb(49,79,126);
      }
    }
  }
} // #Formulário

  @-webkit-keyframes animacao{
    0% {
      -webkit-transform:translateY(0);
      -moz-transform:translateY(0);
      -o-transform:translateY(0);
      transform:translateY(0);
    }
    50% {
      -webkit-transform:translateY(-50px);
      -moz-transform:translateY(-50px);
      -o-transform:translateY(-50px);
      transform:translateY(-50px);
    }
    100% {
      -webkit-transform:translateY(0);
      -moz-transform:translateY(0);
      -o-transform:translateY(0);
      transform:translateY(0);
    }
  }

  @-moz-keyframes animacao{
    0% {
      -webkit-transform:translateY(0);
      -moz-transform:translateY(0);
      -o-transform:translateY(0);
      transform:translateY(0);
    }
    50% {
      -webkit-transform:translateY(-50px);
      -moz-transform:translateY(-50px);
      -o-transform:translateY(-50px);
      transform:translateY(-50px);
    }
    100% {
      -webkit-transform:translateY(0);
      -moz-transform:translateY(0);
      -o-transform:translateY(0);
      transform:translateY(0);
    }
  }

  @-o-keyframes animacao{
    0% {
      -webkit-transform:translateY(0);
      -moz-transform:translateY(0);
      -o-transform:translateY(0);
      transform:translateY(0);
    }
    50% {
      -webkit-transform:translateY(-50px);
      -moz-transform:translateY(-50px);
      -o-transform:translateY(-50px);
      transform:translateY(-50px);
    }
    100% {
      -webkit-transform:translateY(0);
      -moz-transform:translateY(0);
      -o-transform:translateY(0);
      transform:translateY(0);
    }
  }

  @keyframes animacao{
    0% {
      -webkit-transform:translateY(0);
      -moz-transform:translateY(0);
      -o-transform:translateY(0);
      transform:translateY(0);
    }
    50% {
      -webkit-transform:translateY(-50px);
      -moz-transform:translateY(-50px);
      -o-transform:translateY(-50px);
      transform:translateY(-50px);
    }
    100% {
      -webkit-transform:translateY(0);
      -moz-transform:translateY(0);
      -o-transform:translateY(0);
      transform:translateY(0);
    }
  }

  @-webkit-keyframes animacaoSmartphone{
    0% {
      -webkit-transform:rotate(-20deg);
      -moz-transform:rotate(-20deg);
      -o-transform:rotate(-20deg);
      transform:rotate(-20deg);
    }
    50% {
      -webkit-transform:rotate(0);
      -moz-transform:rotate(0);
      -o-transform:rotate(0);
      transform:rotate(0);
    }
    100% {
      -webkit-transform:rotate(-20deg);
      -moz-transform:rotate(-20deg);
      -o-transform:rotate(-20deg);
      transform:rotate(-20deg);
    }
  }

  @-moz-keyframes animacaoSmartphone{
    0% {
      -webkit-transform:rotate(-20deg);
      -moz-transform:rotate(-20deg);
      -o-transform:rotate(-20deg);
      transform:rotate(-20deg);
    }
    50% {
      -webkit-transform:rotate(0);
      -moz-transform:rotate(0);
      -o-transform:rotate(0);
      transform:rotate(0);
    }
    100% {
      -webkit-transform:rotate(-20deg);
      -moz-transform:rotate(-20deg);
      -o-transform:rotate(-20deg);
      transform:rotate(-20deg);
    }
  }

  @-o-keyframes animacaoSmartphone{
    0% {
      -webkit-transform:rotate(-20deg);
      -moz-transform:rotate(-20deg);
      -o-transform:rotate(-20deg);
      transform:rotate(-20deg);
    }
    50% {
      -webkit-transform:rotate(0);
      -moz-transform:rotate(0);
      -o-transform:rotate(0);
      transform:rotate(0);
    }
    100% {
      -webkit-transform:rotate(-20deg);
      -moz-transform:rotate(-20deg);
      -o-transform:rotate(-20deg);
      transform:rotate(-20deg);
    }
  }

  @keyframes animacaoSmartphone{
    0% {
      -webkit-transform:rotate(-20deg);
      -moz-transform:rotate(-20deg);
      -o-transform:rotate(-20deg);
      transform:rotate(-20deg);
    }
    50% {
      -webkit-transform:rotate(0);
      -moz-transform:rotate(0);
      -o-transform:rotate(0);
      transform:rotate(0);
    }
    100% {
      -webkit-transform:rotate(-20deg);
      -moz-transform:rotate(-20deg);
      -o-transform:rotate(-20deg);
      transform:rotate(-20deg);
    }
  }

.animacao-controle-scroll{
  animation:animacao 3s infinite linear;
  -moz-animation:animacao 3s infinite linear;
  -webkit-animation:animacao 3s infinite linear;
  -o-animation:animacao 3s infinite linear;
}

.animacaoSmartphone{
  animation:animacaoSmartphone 0.2s infinite linear;
  -moz-animation:animacaoSmartphone 0.2s infinite linear;
  -webkit-animation:animacaoSmartphone 0.2s infinite linear;
  -o-animation:animacaoSmartphone 0.2s infinite linear;
}

.menor{ margin:0 0 20px 0; }

  .botao-controle{
    position:fixed;
    float:right;
    @include WidthHeight(85px,40px);

    img{ @include WidthHeight(85px,40px); }
  }

@media screen and (min-width:1500px) {
  .slide{
    .header{ h1{ font-size:5em; }}
    .header-maior{ h1{ font-size:120px; }}
    .texto{ p{ font-size:3.5em; }}
    .menor{ font-size:9px !important; }

    .logotipo{
      margin:40px  0 0 0;

      img{ @include WidthHeight(788px,290px); }
    }

    .logotipo-portal{
      margin:70px 0 0 0;

      img{ @include WidthHeight(265px,272px); }
    }

    .smartphone{
      margin:75px 30px 0 0;

      .texto{
        float:left;
        padding:0 20% 0 0;
        color:rgb(252,252,15);
      }

      .imagem{
        img{ @include WidthHeight(93px,165px); }
      }
    } // #Smartphone

    .formulario{
      form{
        input[type="text"],
        input[type="email"]{
          font-size:35px;
          margin:0 0 20px 0;
          @include WidthHeight(385px,60px);
        }

        input[type="submit"]{
          font-size:30px;
          background:rgb(99,129,176);
          margin:0 0 0 20px;
          @include WidthHeight(80px,70px);
        }
      }
    } // #Formulário
  } // #Slide
}

@media screen and (max-width:1500px) {
  .slide{
    .header{ h1{ font-size:4em; }}
    .header-maior{ h1{ font-size:100px; }}
    .texto{ p{ font-size:2.5em; }}
    .menor{ font-size:12px !important; }

    .logotipo{
      margin:30px  0 0 0;

      img{ @include WidthHeight(600px,auto); }
    }

    .logotipo-portal{
      margin:50px 0 0 0;

      img{ @include WidthHeight(230px,auto); }
    }

    .smartphone{
      margin:75px 30px 0 0;

      .texto{
        float:left;
        padding:0 9% 0 0;
        color:rgb(252,252,15);
      }

      .imagem{ img{ @include WidthHeight(40px,auto); }}
    } // #Smartphone

    .formulario{
      form{
        input[type="text"],
        input[type="email"]{
          font-size:35px;
          margin:0 0 20px 0;
          @include WidthHeight(385px,60px);
        }

        input[type="submit"]{
          font-size:30px;
          background:rgb(99,129,176);
          margin:0 0 0 20px;
          @include WidthHeight(80px,70px);
        }
      }
    } // #Formulário
  } // #Slide
}

@media screen and (max-width:1000px) {
  .slide{
    .header{ h1{ font-size:3em; }}
    .header-maior{ h1{ font-size:70px; }}
    .texto{ p{ font-size:1em; }}
    .menor{ font-size:13px !important; }

    .logotipo{
      margin:20px  0 0 0;

      img{ @include WidthHeight(200px,auto); }
    }

    .logotipo-portal{
      margin:40px 0 0 0;

      img{ @include WidthHeight(170px,auto); }
    }


    .smartphone{
      margin:75px 30px 0 0;

      .texto{
        float:left;
        padding:0 0 0 0;
        color:rgb(252,252,15);
      }

      .imagem{
        img{ @include WidthHeight(30px,auto); }
      }
    } // #Smartphone

    .formulario{
      form{
        input[type="text"],
        input[type="email"]{
          font-size:25px;
          margin:0 0 20px 0;
          @include WidthHeight(210px,40px);
        }

        input[type="submit"]{
          font-size:20px;
          background:rgb(99,129,176);
          margin:0 0 0 10px;
          @include WidthHeight(55px,50px);
        }
      }
    } // #Formulário
  } // #Slide
}

@media screen and (max-width:500px) {
  .slide{
    .header{ h1{ font-size:1em; }}
    .header-maior{ h1{ font-size:40px; }}
    .texto{ p{ font-size:1em; }}
    .menor{
      font-size:15px !important;
      margin:0 0 5px 0;
    }

    .logotipo{
      margin:10px 0 0 0;

      img{ @include WidthHeight(200px,auto); }
    }

    .logotipo-portal{
      margin:20px 0 0 0;

      img{ @include WidthHeight(100px,auto); }
    }

    .smartphone{
      margin:20px 30px 0 0;

      .texto{
        float:left;
        padding:0 10% 0 0;
        color:rgb(252,252,15);
      }

      .imagem{
        img{ @include WidthHeight(20px,auto); }
      }
    } // #Smartphone

    .formulario{
      form{
        input[type="text"],
        input[type="email"]{
          font-size:18px;
          margin:0 0 5px 0;
          @include WidthHeight(120px,30px);
        }

        input[type="submit"]{
          font-size:18px;
          background:rgb(99,129,176);
          margin:0 0 0 5px !important;
          @include WidthHeight(45px,40px);
        }
      }
    } // #Formulário
  } // #Slide

  .botao-controle{
    @include WidthHeight(42px,20px);

    img{ @include WidthHeight(42px,20px); }
  }
}